In [4]:
import pandas as pd

print(pandas.__version__)

1.3.2

In [14]:
df = pd.read_csv("ny_taxi_postgres_data/yellow_tripdata_2021-01.csv")
df.head()

/opt/homebrew/Caskroom/miniforge/base/envs/ml/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [15]:

# convert to datetime
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
# connect to postgres
from sqlalchemy import create_engine

In [21]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [25]:
# get schema - this gives us the DDL schema for our connection
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [27]:
# We have a rather large set of data so first we will create our table via our connection
df.head(n = 0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

In [28]:
from time import time

i = 0 
# establish iterator that will load based on chunk_size
df_iter = pd.read_csv("ny_taxi_postgres_data/yellow_tripdata_2021-01.csv", iterator = True, chunksize=100_000)

# iterate until we exhaust iterator
while True:
    t_start = time()
    
    df = next(df_iter) # take next from iter

    # convert to datetime (must do each step since reading from csv)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    # load the chunk via append
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    total_time = time() - t_start
    i += 1
    print(f'inserted chunk {i}, took {total_time:.3f} seconds')

inserted chunk 1, took 4.964 seconds
inserted chunk 2, took 4.570 seconds
inserted chunk 3, took 4.755 seconds
inserted chunk 4, took 4.643 seconds
inserted chunk 5, took 4.764 seconds
inserted chunk 6, took 4.946 seconds
inserted chunk 7, took 4.488 seconds
inserted chunk 8, took 4.845 seconds
inserted chunk 9, took 4.726 seconds
inserted chunk 10, took 5.305 seconds
inserted chunk 11, took 4.733 seconds
inserted chunk 12, took 5.117 seconds

/opt/homebrew/Caskroom/miniforge/base/envs/ml/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3361: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted chunk 13, took 4.914 seconds
inserted chunk 14, took 2.855 seconds

StopIteration: